.contentHome {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentHome img {
    width: 50%;
}

@media (max-width: 700px) {
    .contentHome {
        height: 100vh;
        /* padding-top: 150px; */
    }
}
