.modal-tecido {
    width: 1100px;
}

.modal-tecido img {
    width: 700px;
    height: 400px;
}

.tecido-cliente img {
    width: 800px;
    height: 450px;
}

@media (max-width: 700px) {
    .modal-tecido {
        width: 90%;
    }

    .modal-tecido img {
        width: 260px;
        height: 150px;
    }
}
