.contentCard-lencol-prontaentrega {
    transition: transform 0.2s ease-in;
    text-align: center;
    margin: 15px;
    height: 450px;
    width: 280px;
}
.contentCard-lencol-prontaentrega img {
    height: 350px;
    width: 100%;
    margin-bottom: 10px;
    /* object-fit: cover; */
}
