/* Container para o menu fixo */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    z-index: 999; /* Para garantir que o menu fique acima de outros conteúdos */
    overflow-y: auto;
}

.sidebar div {
    display: flex;
    justify-content: center;
}

.sidebar img {
    width: 100px;
}

/* Estilização da lista de links do menu */
.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 15px;
    border-bottom: 1px solid #444;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding-left: 5px;
}

/* Efeito de hover nos links */
.menu li a:hover {
    background-color: #555;
    color: #bfc219;
}

.botaoSair {
    max-width: 200px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.botaoSair:hover {
    background-color: #d3c013;
}

/* Ajustes de responsividade */
/* Oculta o menu em telas pequenas */
@media (max-width: 700px) {
    .sidebar {
        width: 0;
        /* overflow: hidden; */
        transition: width 0.3s ease-in-out;
        position: fixed;
        height: 100%;
    }

    .sidebar.open {
        width: 250px;
    }

    /* Botão hambúrguer */
    .menu-toggle {
        position: absolute;
        width: 90%;
        top: 40px;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #d3c013;
        border: none;
        cursor: pointer;
        font-size: 30px;
        color: white;
        z-index: 999;
    }

    .containerApp {
        margin-left: 0;
    }
}
